@import url('padrao.css');
body{
    background-color: black;
}
h2 {
    font-family: 'Raleway';
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-top: 24px;
    text-align: center;
}
  
p {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
  }
.banner
{
    height: 500px;
    padding-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-bottom: 1px solid #31A8DD;
}
section {
    margin: 100px auto;
  }
.banner .logo img
{
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    object-fit: contain;
}
.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
  }
.banner h1
{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    background:-webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner p
{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 16px 0 24px;
}
.banner button
{
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: .2em;
    background-color: rgba(0, 0, 0, .2);
    color: #31A8DD;
    border: 1px solid #31A8DD;
}
#course-content {
    width: 800px;
    text-align: center;
}
#course-content h2{
    margin-bottom: 20px;
}
#course-content .modules-list {
    margin: 24px 0;
}
.modules-list .module
{
    color: white;
    width: 600px;
    border: 1px solid #33A8DB;
    margin: 0 auto 24px;
    background-color:#252525 ;
    padding: 16px 70px;
    line-height: 19px;
    box-shadow: inset -2px 6px 4px rgba(62, 56, 56, 0.6);
    border-radius: 50px;
}
.modules-list span{
    color: #33A8DB;;
}
#transform-world
{
    height: 600px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px  solid #31A8DD;
    border-top: 1px  solid #31A8DD;
}

#transform-world p{
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 25px;
    text-shadow: 3px 2px #33A8DB;
    max-width: 750px;
    text-transform: lowercase;
    padding: 250px;
}
#professional-challenges
{
    height: 650px;
    text-align: center;
}
#professional-challenges img
{
    margin: 32px 0;
}
#professional-challenges p{
    align-items: center;
}

footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}
footer a {
    text-decoration: none;
    font-weight: 700;
    color: #33A8DB;
}
